@page
@model PslibTechSaturdays.Areas.Admin.Pages.Actions.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Action</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Action.Name" class="control-label"></label>
                <input asp-for="Action.Name" class="form-control" />
                <span asp-validation-for="Action.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Action.Description" class="control-label"></label>
                <input asp-for="Action.Description" class="form-control" />
                <span asp-validation-for="Action.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Action.Year" class="control-label"></label>
                <input asp-for="Action.Year" class="form-control" />
                <span asp-validation-for="Action.Year" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Action.Active" /> @Html.DisplayNameFor(model => model.Action.Active)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Action.Published" /> @Html.DisplayNameFor(model => model.Action.Published)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Action.Created" class="control-label"></label>
                <input asp-for="Action.Created" class="form-control" />
                <span asp-validation-for="Action.Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Action.CreatedById" class="control-label"></label>
                <select asp-for="Action.CreatedById" class ="form-control" asp-items="ViewBag.CreatedById"></select>
            </div>
            <div class="form-group">
                <label asp-for="Action.Start" class="control-label"></label>
                <input asp-for="Action.Start" class="form-control" />
                <span asp-validation-for="Action.Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Action.End" class="control-label"></label>
                <input asp-for="Action.End" class="form-control" />
                <span asp-validation-for="Action.End" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Action.ExclusiveEnrollment" /> @Html.DisplayNameFor(model => model.Action.ExclusiveEnrollment)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
