@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Obnovení zapomenutého hesla";
}

<h1>@ViewData["Title"]</h1>
<p>
    Pokyny pro nastavení nového hesla by měly být ve Vaši emailové schránce.
</p>
