@page
@model LockoutModel
@{
    ViewData["Title"] = "Uzamčený účet";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Tento účet je z bezpečnostních důvodů uzamčen. Zpuste přihlášení později.</p>
</header>
