@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Heslo resetováno";
}

<h1>@ViewData["Title"]</h1>
<p>
    Vaše heslo bylo úspěšně zresetováno. Můžete se s ním <a asp-page="./Login">přihlásit</a>.
</p>
