@page
@model PslibTechSaturdays.Areas.Admin.Pages.Enrollments.CreateModel

@{
    ViewData["Title"] = "Nová přihláška";
}

<h1>Založení</h1>

<h4>Přihláška</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.GroupId" class="control-label"></label>
                <select asp-for="Input.GroupId" class ="form-control" asp-items="Model.ActiveGroups">
                    <option>-- Vyberte --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Input.UserId" class="control-label"></label>
                <select asp-for="Input.UserId" class="form-control" asp-items="Model.ActiveUsers">
                    <option>-- Vyberte --</option>
                </select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Input.CheckCapacity" /> @Html.DisplayNameFor(model => model.Input.CheckCapacity)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Input.CheckOpened" /> @Html.DisplayNameFor(model => model.Input.CheckOpened)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Input.CheckCondition" /> @Html.DisplayNameFor(model => model.Input.CheckCondition)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Vytvořit" class="btn btn-primary" /> <a asp-page="Index" class="btn btn-secondary">Zpět</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
