﻿@using PslibTechSaturdays.Emails.PageModels
@model ResetPasswordVM
@{
    ViewData["Title"] = "Resetování hesla";
}
<p>Zdá se, že jsme obdrželi žádost o resetování hesla pro uživatele z Vaší emailové adresy.</p>
<p>K resetování použijte následující odkaz.</p>
<a class="btn btn-success" href="@Html.Raw(Model.ConfirmEmailUrl)">
    Potvrdit email
</a>