@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Osobní data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Váš účet obsahuje osobní data, na této stránce je možné je získat nebo kompletně odstranit.</p>
        <p>
            <strong>Odstraněním dat dojde i ke smazání celého účtu.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Stáhnout</button>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Odstranit</a>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
