@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Dvoufázové ověřování";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
@{
    var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
    @if (consentFeature?.CanTrack ?? true)
    {
        @if (Model.Is2faEnabled)
        {
            if (Model.RecoveryCodesLeft == 0)
            {
                <div class="alert alert-danger">
                    <strong>Už nemáte žádné jednorázové kódy.</strong>
                    <p>Je tedy <a asp-page="./GenerateRecoveryCodes">potřeba vygenerovat nové</a> a pak se jejich pomocí bude moci přihlašovat.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    <strong>Máte poslední jednorázový kód.</strong>
                    <p>Měl byste <a asp-page="./GenerateRecoveryCodes">vygenerovat nové</a>.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    <strong>Máte ještě @Model.RecoveryCodesLeft kódů.</strong>
                    <p>Můžete <a asp-page="./GenerateRecoveryCodes">vygenerovat další</a>.</p>
                </div>
            }

            if (Model.IsMachineRemembered)
            {
                <form method="post" style="display: inline-block">
                    <button type="submit" class="btn btn-primary">Deautorizovat tento počítač</button>
                </form>
            }
            <a asp-page="./Disable2fa" class="btn btn-primary">Vypnout dvoufázové ověřování</a>
            <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">Resetovat kódy</a>
        }

        <h4>Autentikátor</h4>
        @if (!Model.HasAuthenticator)
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Přidat nový autentikátor</a>
        }
        else
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Nastavit autentikátor</a>
            <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">Resetovat autentikátor</a>
        }
    }
    else
    {
        <div class="alert alert-danger">
            <strong>Privacy and cookie policy have not been accepted.</strong>
            <p>You must accept the policy before you can enable two factor authentication.</p>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
