@page
@using static PslibTechSaturdays.Helpers.TempDataExtension;
@model PrivacyModel
@{
    ViewData["Title"] = "Ochrana osobních údajů";
}
<h1>@ViewData["Title"]</h1>

<p>Na fyzické osoby, které vyplní a odešlou vyplněný registrační formulář z tohoto webu, se vztahuje Obecné Nařízení o ochraně osobních údajů, ve znění pozdějších předpisů a další příslušné právní předpisy.</p>
<p>Veškeré informace shromážděné touto aplikací budou použity pouze SPŠ a VOŠ v rámci akcí pořádaných touto školou, nebo v rámci výuky.</p>

<h1>Cookies</h1>

<p>"Cookies" jsou malé softwarové soubory, které nám umožňují ukládat informace ohledně vašeho zařízení a vás jako uživatele výhradně v době, 
    kdy navštívíte některou z našich internetových stránek. Cookies nám pomáhají zjistit návštěvnost našich stránek a také počet jejich uživatelů. Stejně tak nám pomáhají přizpůsobit naše stránky tak, aby vyhověly vašim potřebám a byly pro vás maximálně přístupné.
</p>
<p>Tyto stránky používají pouze cookies bezpečnostního a funkcionálního charakteru.</p>