@page
@using static PslibTechSaturdays.Helpers.TempDataExtension;
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<section>
    <a asp-page-handler="Message" asp-route-text="Success" asp-route-type="@MessageType.Success">Success text</a>
    <a asp-page-handler="Message" asp-route-text="Dangerous thing." asp-route-type="@MessageType.Danger">Danger text</a>
</section>
