@page
@model PslibTechSaturdays.Areas.Admin.Pages.Certificates.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Certificate</h4>
<hr />
<div class="row">
    <div class="col">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Input.CertificateId" />
            <div class="form-group">
                <label asp-for="Input.Title" class="control-label"></label>
                <input asp-for="Input.Title" class="form-control" />
                <span asp-validation-for="Input.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Text" class="control-label"></label>
                <input asp-for="Input.Text" class="form-control" />
                <span asp-validation-for="Input.Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Description" class="control-label"></label>
                <input asp-for="Input.Description" class="form-control" />
                <span asp-validation-for="Input.Description" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Uložit" class="btn btn-primary" /> <a asp-page="./Index" class="btn btn-secondary">Zpět</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
